* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-size: 1rem;
}
body nav,
body header,
main > section > * {
  padding-right: 2rem;
  padding-left: 2rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}
p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-wrap: balance;
}
header > p {
  width: calc(265px * 1.2);
}
h1 {
  width: 265px;
  font-size: 1.6rem;
  margin: auto;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  margin-bottom: 7rem;
}
nav img,
figure img,
section.statistics > div div.logo > img {
  width: 100%;
}
nav > div.log {
  width: calc(100vw / 3.5);
}
button.btn-secondary {
  border: 1px solid var(--Pink);
  background-color: transparent;
  color: var(--Pink);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}

header {
  text-align: center;
  margin: 4.5rem 0;
}
header > p {
  margin: 1.5rem auto;
}
button.btn-primary {
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  padding: 0.9rem 2.5rem;
  border: none;
  border-radius: 50px;
  margin: 2rem 0;
  box-shadow: 1px 2px 3px var(--Very-Dark-Cyan);
}
header > figure {
  margin: 2.5rem 0;
}

section.statistics {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  justify-content: center;
  align-items: center;
}
section.statistics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.statistics > div p.data {
  font-weight: 700;
  font-size: 3.5rem;
}
section.statistics > div p.label:last-child {
  width: 100px;
}
section.statistics > div div.logo {
  width: 47px;
  align-self: flex-start;
}
main {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}
main > section article {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  gap: 1.2rem;
}
section.grow-together > section.container,
section.Your-Users > section.container {
  background-color: var(--Very-Pale-Blue);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  gap: 4rem;
  /* text-align: center; */
  /* margin: 2rem 0; */
}
main > section div.curve {
  width: 100%;
  height: 102px;
  /* padding: 2rem; */
  background-image: url("./images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  /* background-color: orange; */
  border-bottom: 2px solid var(--Very-Pale-Blue);
}
main > section div.curve:last-child {
  /* width: 100%; */
  /* height: 59px; */
  /* padding: 2rem; */
  background-image: url("./images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  border: none;
  border-top: 2px solid var(--Very-Pale-Blue);
  /* background-color: orange; */
}
main > section div.curve2 {
  width: 100%;
  height: 102px;
  /* padding: 2rem; */
  background-image: url("./images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  /* background-color: orange; */
  border-bottom: 2px solid var(--Very-Pale-Blue);
}
main > section div.curve2:last-child {
  /* width: 100%; */
  /* height: 59px; */
  /* padding: 2rem; */
  background-image: url("./images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  border: none;
  border-top: 2px solid var(--Very-Pale-Blue);
  /* background-color: orange; */
}
section.Flowing-Conversations {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}
main > section:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer > div.curve {
  background-image: url("./images/bg-footer-top-mobile.svg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  /* background-color: orange; */
  border-bottom: 2px solid var(--Very-Pale-Blue);
}
footer > main {
  background-color: var(--Very-Dark-Cyan);
}