* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

:root {
  --Pink: hsl(322, 100%, 66%);
  --Light-Pink: hsl(321, 100%, 78%);
  --Light-Red: hsl(0, 100%, 63%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Very-Pale-Blue: hsl(207, 100%, 98%);
}

body {
  min-height: 100vh;
  background-color: #fff;
  font-size: 1rem;
}

body nav,
body header,
main > section > * {
  padding-right: 2rem;
  padding-left: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-wrap: balance;
}

header > p {
  width: calc(265px * 1.2);
}

h1 {
  width: 265px;
  font-size: 1.6rem;
  margin: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.5rem;
  margin-bottom: 7rem;
}

nav img,
figure img,
section.statistics > div div.logo > img {
  width: 100%;
}

nav > div.log {
  width: calc(100vw / 3.5);
}

button.btn-secondary:hover {
  border-color: var(--Light-Pink);
  color: var(--Light-Pink);
}
button.btn-secondary {
  border: 1px solid var(--Pink);
  background-color: transparent;
  color: var(--Pink);
  padding: 0.5rem 1rem;
  border-radius: 50px;
}
button {
  cursor: pointer;
}

header {
  text-align: center;
  margin: 4.5rem 0;
}

header > p {
  margin: 1.5rem auto;
}

button.btn-primary:hover {
  background-color: var(--Light-Pink);
}
button.btn-primary {
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  padding: 1.2rem 3.5rem;
  border: none;
  border-radius: 50px;
  margin: 2rem 0;
  box-shadow: 1px 2px 3px var(--Very-Dark-Cyan);
}

header > figure {
  margin: 2.5rem 0;
}

section.statistics {
  display: flex;
  flex-direction: column;
  gap: 4.5rem;
  justify-content: center;
  align-items: center;
}

section.statistics > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section.statistics > div p.data {
  font-weight: 700;
  font-size: 3.5rem;
  width: 100% !important;
}

section.statistics > div:last-child p.label:last-child {
  width: 100px;
}

section.statistics > div div.logo {
  width: 47px;
  align-self: flex-start;
}

main {
  display: flex;
  flex-direction: column;
  gap: 8.5rem;
}

main > section article {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* justify-content: center; */
  text-align: center;
  gap: 1.2rem;
}

section.grow-together > section.container,
section.Your-Users > section.container {
  background-color: var(--Very-Pale-Blue);
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 3.5rem;
  padding-bottom: 3.5rem;
  gap: 4rem;
  flex-wrap: wrap;
  /* align-content: center; */
  align-items: center;
}
section.container > figure {
  flex-basis: 100px;
}
figure > img {
  width: 100%;
}

main > section div.curve {
  width: 100%;
  height: 102px;
  /* padding: 2rem; */
  background-image: url("./images/bg-section-top-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  /* background-color: orange; */
  border-bottom: 2px solid var(--Very-Pale-Blue);
}

main > section div.curve:last-child {
  /* width: 100%; */
  /* height: 59px; */
  /* padding: 2rem; */
  background-image: url("./images/bg-section-bottom-mobile-1.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  border: none;
  border-top: 2px solid var(--Very-Pale-Blue);
  /* background-color: orange; */
}

main > section div.curve2 {
  width: 100%;
  height: 102px;
  /* padding: 2rem; */
  background-image: url("./images/bg-section-top-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  /* background-color: orange; */
  border-bottom: 2px solid var(--Very-Pale-Blue);
}

main > section div.curve2:last-child {
  /* width: 100%; */
  /* height: 59px; */
  /* padding: 2rem; */
  background-image: url("./images/bg-section-bottom-mobile-2.svg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  border: none;
  border-top: 2px solid var(--Very-Pale-Blue);
  /* background-color: orange; */
}

section.Flowing-Conversations {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

body > main > section:last-child {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer {
  margin-top: 4rem;
}

footer > div.curve {
  width: 100%;
  height: 102px;
  background-image: url("./images/bg-footer-top-mobile.svg");
  /* background-size: cover; */
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100% 100%;
  /* background-color: orange; */
  border-bottom: 2px solid var(--Very-Dark-Cyan);
  position: relative;
  bottom: -5px;
}

footer > main {
  background-color: var(--Very-Dark-Cyan);
  color: var(--Very-Pale-Blue);
  padding-top: 3rem;
}

section.newsletter {
  display: flex;
  flex-direction: column;
  /* justify-content: start; */
  gap: 1.2rem;
  padding: 2rem 0;
}

section.newsletter > p {
  min-width: calc(200px * 1);
  max-width: calc(200px * 2);
  text-wrap: pretty;
  line-height: 1.2rem;
}

section.newsletter > h2 {
  font-size: x-large;
  text-align: start;
}

form.newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 1rem;
}

form.newsletter > input[type="email"] {
  padding: 0.8rem;
  width: 100%;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 1.1rem;
}

button[type="submit"] {
  padding: 1rem;
  background-color: var(--Pink);
  color: var(--Very-Pale-Blue);
  border: none;
  border-radius: 10px;
  width: 50%;
  font-size: 1.1rem;
  font-weight: 700;
}
section.Get-in-touch {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  margin: 1rem 0;
}
section.Get-in-touch > div {
  display: flex;
  gap: 1rem;
}
svg {
  width: 100%;
  height: 100%;
  fill: var(--Very-Pale-Blue);
}
footer div.logo {
  display: grid;
  /* gap: 1rem; */
}
footer > main > section:nth-child(2) {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
div.social {
  display: flex;
  gap: 1rem;
}
div.social > i {
  font-size: 1.4rem;
}

@media (min-width: 767px) {
  body {
    /* background-color: red; */
  }
  header > h1 {
    width: 100%;
    font-size: xx-large;
  }
  header > p {
    width: calc(230px * 2.1);
    text-wrap: pretty;
  }
  header > figure {
    margin: 2.5rem auto;
    width: 80vw;
  }
  section.statistics {
    display: flex;
    flex-direction: row;
    gap: 11.5rem;
    justify-content: center;
    align-items: center;
  }
  footer > main,
  main > section.Flowing-Conversations,
  main > section > section.container {
    display: grid !important;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    justify-items: start;
    justify-content: space-between;
    align-items: center;
  }
  footer > main > section:nth-child(2),
  main > section > section.container > article {
    grid-row: 1;
  }
  footer > main section.newsletter,
  main > section > section.container > figure {
    grid-column: 2;
  }
  main > section > section.container > article {
    width: 46vw;
  }
  p {
    text-wrap: pretty !important;
  }
  main > section.Flowing-Conversations > article h2,
  main > section.Flowing-Conversations > article,
  main > section > section.container > article,
  main > section > section.container > article h2 {
    text-align: start;
  }
  .attribution {
    display: none;
  }
  form.newsletter {
    flex-direction: row;
    align-items: center;
  }
  footer > main {
    padding-bottom: 3rem;
  }
}
